# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [2]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np

In [20]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df.head(50)
#df["Type 2"].value_counts()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,Mega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,Mega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,Mega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
13,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
14,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
15,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False
16,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
17,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
18,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False
19,Mega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
20,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
21,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
22,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
23,Mega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
24,Rattata,Normal,NaN,30,56,35,25,35,72,1,False
25,Raticate,Normal,NaN,55,81,60,50,70,97,1,False
26,Spearow,Normal,Flying,40,60,30,31,31,70,1,False
27,Fearow,Normal,Flying,65,90,65,61,61,100,1,False
28,Ekans,Poison,NaN,35,60,44,40,54,55,1,False
29,Arbok,Poison,NaN,60,85,69,65,79,80,1,False
30,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
31,Raichu,Electric,NaN,60,90,55,90,80,110,1,False
32,Sandshrew,Ground,NaN,50,75,85,20,30,40,1,False
33,Sandslash,Ground,NaN,75,100,110,45,55,65,1,False
34,Nidoran♀,Poison,NaN,55,47,52,40,40,41,1,False
35,Nidorina,Poison,NaN,70,62,67,55,55,56,1,False
36,Nidoqueen,Poison,Ground,90,92,87,75,85,76,1,False
37,Nidoran♂,Poison,NaN,46,57,40,40,40,50,1,False
38,Nidorino,Poison,NaN,61,72,57,55,55,65,1,False
39,Nidoking,Poison,Ground,81,102,77,85,75,85,1,False
40,Clefairy,Fairy,NaN,70,45,48,60,65,35,1,False
41,Clefable,Fairy,NaN,95,70,73,95,90,60,1,False
42,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
44,Jigglypuff,Normal,Fairy,115,45,20,45,25,20,1,False
45,Wigglytuff,Normal,Fairy,140,70,45,85,50,45,1,False
46,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
47,Golbat,Poison,Flying,75,80,70,65,75,90,1,False
48,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
49,Gloom,Grass,Poison,60,65,70,85,75,40,1,False

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [36]:
df.isnull().sum()

Name            1
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [12]:
#Null Hypothesis (H0): The average HP of Dragon Pokémon is less than or equal to that of Grass Pokemon.
#Alternative Hypothesis (H1): The average HP of Dragon Pokémon is greater than that of Grass Pokemon.

df_Dragon = df[df["Type 1"]=="Dragon"]["HP"]
df_Grass = df[df["Type 1"]=="Grass"]["HP"]

st.ttest_ind(df_Dragon,df_Grass, alternative='greater')

TtestResult(statistic=3.590444254130357, pvalue=0.0002567969150153481, df=100.0)

In [ ]:
#The null hypothesis can be rejected due to low p-value, however this provides strong evidence that Dragon-type Pokémon, on average, have significantly higher HP than Grass-type Pokémon.

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [52]:
df_Legendary = df[df["Legendary"]== 1]
df_Non_Legendary = df[df["Legendary"]== 0]

t_stat_hp, p_value_hp = st.ttest_ind(df_Legendary['HP'], df_Non_Legendary['HP'])
t_stat_attack, p_value_attack = st.ttest_ind(df_Legendary['Attack'], df_Non_Legendary['Attack'], equal_var=False)
t_stat_defense, p_value_defense = st.ttest_ind(df_Legendary['Defense'], df_Non_Legendary['Defense'], equal_var=False)
t_stat_sp_atk, p_value_sp_atk = st.ttest_ind(df_Legendary['Sp. Atk'], df_Non_Legendary['Sp. Atk'], equal_var=False)
t_stat_sp_def, p_value_sp_def = st.ttest_ind(df_Legendary['Sp. Def'], df_Non_Legendary['Sp. Def'], equal_var=False)
t_stat_speed, p_value_speed = st.ttest_ind(df_Legendary['Speed'], df_Non_Legendary['Speed'], equal_var=False)

import statsmodels.stats.multitest as smm

# List of p-values from the t-tests for each stat
p_values = [p_value_hp, p_value_attack, p_value_defense, p_value_sp_atk, p_value_sp_def, p_value_speed]

# Apply Bonferroni correction
_, pvals_bonferroni, _, _ = smm.multipletests(p_values, alpha=0.05, method='bonferroni')

# Apply Holm-Bonferroni correction
_, pvals_holm, _, _ = smm.multipletests(p_values, alpha=0.05, method='holm')

print("Bonferroni adjusted p-values:", pvals_bonferroni)
print("Holm adjusted p-values:", pvals_holm)

Bonferroni adjusted p-values: [1.99838861e-14 1.51222347e-15 2.89619910e-10 9.30876847e-21
 1.37695967e-14 6.29409787e-18]
Holm adjusted p-values: [6.88479836e-15 1.00814898e-15 4.82699849e-11 9.30876847e-21
 6.88479836e-15 5.24508156e-18]

In [54]:
#Based on the adjusted p-values, we can confidently reject the null hypothesis for all the tested stats. This means that Legendary Pokemon do indeed have statistically different values for HP, Attack, Defense, Sp. Atk, Sp. Def, and Speed compared to Non-Legendary Pokémon.

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [66]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [68]:
import math
import pandas as pd

def euclidean_school(row):
    return math.sqrt((-118 - row['longitude'])**2 + (37 - row['latitude'])**2)

def euclidean_hospital(row):
    return math.sqrt((-122 - row['longitude'])**2 + (34 - row['latitude'])**2)

# Apply the functions to create new columns
df['distance_to_school'] = df.apply(euclidean_school, axis=1)
df['distance_to_hospital'] = df.apply(euclidean_hospital, axis=1)

# Display the updated DataFrame
print(df)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value  \
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

       distance_to_school  distance_to_hospital
0                4.638125              7.692347
1                4.384165              7.540617
2                4.773856              7.446456
3                4.801510              7.438716
4                4.850753              7.442432
...                   ...                   ...
16995            7.211380              6.957298
16996            7.275232              7.064630
16997            7.944533              8.170410
16998            7.920227              8.132035
16999            7.270083              6.949396

[17000 rows x 11 columns]

In [75]:
mean_school = df['distance_to_school'].mean()
mean_hospital = df['distance_to_hospital'].mean()

mean_school, mean_hospital

(3.4871969549078674, 4.062115448043652)

In [87]:
close_to_school = df[df["distance_to_school"] <= 3.48]['median_house_value']
far_to_school = df[df["distance_to_school"] < 3.48]['median_house_value']

close_to_hospital = df[df["distance_to_school"] <= 4.06]['median_house_value']
far_to_hospital = df[df["distance_to_school"] > 4.06]['median_house_value']

In [95]:
st.ttest_ind(close_to_school, far_to_school, alternative='greater')

TtestResult(statistic=0.0, pvalue=0.5, df=19580.0)

In [99]:
st.ttest_ind(close_to_hospital, far_to_hospital, alternative='greater')

TtestResult(statistic=-5.965626332092552, pvalue=0.9999999987573505, df=16998.0)

In [ ]:
#Means are equal far and close to school or hospital, there is not statistical evidence of a price difference.